<% if @result['error'] %>
<p><%= @result['error'] %></p>
<% elsif @result['rows'] %>
<table>
  <tr>
    <th>Time</th>
    <th>Country</th>
    <th>Region</th>
    <th>City</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Title</th>
    <th>URI</th>
    <th>Pageviews</th>
  </tr>
  <% @result['rows'].each do |row| %>
  <tr>
    <td><%= Time.iso8601(row[0]).localtime %></td>
    <% row[1..-1].each do |value| %>
    <td><%= value %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<% end %>
