// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div {
  padding: 0;
  border: 0;
  margin: 0;
}

#map {
  width: 512px;
  height: 350px;
  margin: 0 auto 0 auto;
}

#map-info {
  width: 480px;
  height: 50px;
  margin: 0 auto 0 auto;
  border: 1px solid #DDDDDD;
  padding: 15px;
  color: #C34500;
  font-family: Gudea, sans-serif;

  p.title {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      width: 470px;
      color: #000000;
      text-decoration: none;
    }
  }
  
  p.location {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 12px;
  }
}
