// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div {
  padding: 0;
  border: 0;
  margin: 0;
}

#map {
  width: 512px;
  height: 360px;
  margin: 0 auto 0 auto;

  // Style Google Map InfoWindow
  div.gm-style-iw {
    color: #555555;
    font-family: Gudea, sans-serif;

    p.title {
      margin: 0 0 6px 0;
      font-size: 15px;

      a {
        color: #C34500;
        text-decoration: none;
      }
    }
    
    p.location {
      margin: 6px 0 0 0;
      font-size: 12px;
    }
  }
}
