<div id="map"></div>
<div id="map-info">
  <h1>Readership Map</h1>
</div>
<%= javascript_include_tag "rm.js" %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWcF_5wWBSVM5pPshPeSAoFJxgWsyXl1w&callback=ReaderMap.start"></script>
